textarea[name="contentsRaw"] {
  min-height: var(--spectrum-global-dimension-size-2400) !important
}

textarea[name="contentIdsRaw"] {
  min-height: var(--spectrum-global-dimension-size-2400) !important
}
